/* #top5banner {

} */
body {
    background-color: lightblue;
    font-family: Impact, Tahoma, Verdana, sans-serif;
    font-size: 18px;
  }

.memberImage {
    height: 200px;
    width: 130px; 
    margin-top: 10px;
    margin: 5px;
}

#titles {
    font-family: Impact, Tahoma, Verdana, sans-serif;
}

#actor-container {
    display: flex;
    background-color: rgb(58, 116, 224);
    justify-content: center; 
    text-align: center;
    flex-wrap: wrap;
    border-style: solid;
    border-image: linear-gradient(45deg, rgb(17, 231, 210), rgb(0, 0, 0)) 1;
    visibility: visible;
}

.memberContainer {
    font-family: Quicksand, Tahoma, Verdana, sans-serif;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-image: linear-gradient(45deg, rgb(17, 231, 210), rgb(0, 0, 0)) 1;
    margin: 5px;
}

#character-container {
    display: flex;
    background-color: rgb(58, 116, 224);    
    justify-content: center; 
    text-align: center;
    flex-wrap: wrap;
    border-style: solid;
    border-image: linear-gradient(45deg, rgb(17, 231, 210), rgb(0, 0, 0)) 1;
   
}
 .hidden#character-container {
     display: none
 }

 .hidden-member#actor-container {
     display: none
 }

 #charBox {
    border-style: solid;
    background-color: rgb(255, 255, 255);
    border-image: linear-gradient(45deg, rgb(17, 231, 210), rgb(0, 0, 0)) 1;
    margin-bottom: 2px;
}

#new-character-form-container {
    border-style: solid;
    background-color: rgb(50, 135, 204);
    border-image: linear-gradient(45deg, rgb(17, 231, 210), rgb(0, 0, 0)) 1;
    margin-bottom: 2px;
}

#charImage {
    border-style: solid;
    width: 300px
}
