/* #top5banner {

} */

.memberImage {
    height: 200px;
    width: 130px; 
    margin-top: 10px;
    margin: 5px;
}

#actor-container {
    display: flex;
    justify-content: center; 
    text-align: center;
    flex-wrap: wrap;
    border-style: solid;
    border-image: linear-gradient(45deg, rgb(17, 231, 210), rgb(0, 0, 0)) 1;
    visibility: visible;
}

.memberContainer {
    border-style: solid;
    border-image: linear-gradient(45deg, rgb(17, 231, 210), rgb(0, 0, 0)) 1;
    margin: 5px;
}

#character-container {
    display: flex;
    justify-content: center; 
    text-align: center;
    flex-wrap: wrap;
    border-style: solid;
    border-image: linear-gradient(45deg, rgb(17, 231, 210), rgb(0, 0, 0)) 1;
   
}
 .hidden#character-container {
     display: none
 }

 .hidden-member#actor-container {
     display: none
 }